*.suo
*.exe
*.dll
*.obj
*.bin
[Bb]in
[Oo]bj
*.user
Database/Oficial.sql
Database/Server.sql
logs/
Database/apo15-mysql5-v1.sql
Database/mapPrecalculatedSolarSystemJumps.sql
Server/.idea
Server/EVESharp.Orchestrator/appsettings.Development.json