<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EVESharp.ClusterControler.Properties.Settings.evesharpConnectionString"
            connectionString="Data Source=\\.\pipe\MSSQL$MSSQLEXPRESS\sql\query;Initial Catalog=evesharp;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>