# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.EVESharp.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\development\EVESharp\Server\.idea\.idea.EVESharp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
